<% include partials/header %>

<h1>Welcome to my home page <%= thingVar %></h1>

<form>
	
	Password :<input type="text" name="pass" placeholder="" />
	<input type="submit" name="" />
</form>


<% include partials/footer %>