
<% include partials/header.ejs  %>

<h1>This is the landing page for our Yelp Camp site</h1>


<a href="/campgrounds">Check out all the campgrounds</a>

<p>Welcome to Yelp Camp</p>

<% include partials/footer.ejs  %>