<h1>This is the secret page</h1>

<p>You are her emeans u are logged in and are in session Kudos!!!!</p>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>